@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.blog {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-color: black;
}

/* footer */
.footer {
    padding: 40px calc(100vw / 24);
    padding-top: calc(40 * 3);
    padding-bottom: 16px;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: black;
}

code  {
    background-color: var(--markdown-color-inlineCodeContainer);
    font-size: 0.88em;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 4px;
    padding: 1px 4px;
}

p a {
    color: #563bff!important;
}

u {
    color: #563bff!important;
}

/* tailwindcssの影響でaタグやcodeタグのスタイルがうまいことなっていないので気を付ける */
.title a {
    color: black!important;
}