@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.blog {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-color: black;
}

/* footer */
.footer {
    padding: 40px calc(100vw / 24);
    padding-top: calc(40 * 3);
    padding-bottom: 16px;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: black;
}

/* microcmsの影響でpタグとcodeタグが正常に表示されないのでここで強制的に修正 */
p a {
    color: var(--color-text-current);
}

u {
    color: var(--color-text-current);
}

/* tailwindcssの影響でaタグやcodeタグのスタイルがうまいことなっていないので気を付ける */
.title a {
    color: black!important;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
    content: none!important;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
    content: none!important;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: var(--color-bg-white);
    background-color: var(--tw-prose-pre-bg);
    padding: var(--spacing-2x-small) var(--spacing-x-small);
    margin: 0 var(--spacing-2x-small);
    font-size: var(--font-size-small);
    line-height: 1;
    display: inline-block;
}